

#interview h2{
	font-size: 16px;
	margin-top: 30px;
	font-weight: bold;
	color: #7c3aed;
}

#interview h2:first-child{
	margin-top: 0px;
}

#interview h3{
	margin: 0px;
	font-size: 12px;
}

#interview ol{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	padding-left: 0px;
}







#interview li {
	display: flex;
	border: 1px solid black;
	padding: 10px; /* Adjust padding as needed */
	border-radius: 10px; /* Add rounded corners if desired */
	list-style-type: none;
	align-items: center;
	transition: box-shadow 0.8s, cursor 0.4s;
  }

#interview li:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}

/* Style for the modal overlay */
.modal-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	z-index: 1000; /* Ensure it's on top of everything */
	
  }


  .additional-content {
	background-color: #fff; /* Background color of the modal content */
	padding: 20px !important;
	border: 1px solid #333;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	max-width: 80%;
	max-height: 80%;
	overflow: auto; /* Enable scrolling for long content */
	transition: box-shadow 0.8s, cursor 0.4s, opacity 0.5s; /* Add opacity transition */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  
  

  
  /* Style for the close button */
  #close-button {
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
	font-size: 15px;
	line-height: 10px;
	background-color: rgb(68, 12, 234);
	padding: 10px;
	border-radius: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	color: rgb(255, 255, 255);
	
  }
  


  
  /* Styles for screens up to 800px */
  @media screen and (min-width: 500px) {
	/* Your styles for screens between 450px and 800px go here */
	#interview ol{
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	#interview h2{
		font-size: 28px;
	}
	
	#interview h3{
		font-size: 20px;
	}

	.additional-content p{
		font-size: larger !important;
	}
  }
  
  /* Styles for screens greater than 800px */
  @media screen and (min-width: 1001px) {
	/* Your styles for screens greater than 800px go here */
	#interview ol{
		grid-template-columns: 1fr 1fr 1fr;
	}

	#interview h2{
		font-size: 32px;

	
	}
	
	#interview h3{

		font-size: 28px;
	}

	#interview li {
		padding: 20px;
	}

	.additional-content{
		max-width: 1000px;
	}
  }
  
