.blogPost a {
  color: #0869da !important;
  line-height: 150%;
  padding: 3px;
}

.blogPost a:link {
  color: rgba(0, 0, 0, 0.6);
}

.blogPost a:visited {
  color: rgba(0, 0, 0, 0.6);
}

.blogPost a:hover {
  background-size: auto 4em;
  background-repeat: no-repeat;
  background-position: 0% 15px;
}

.blogPost .title {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #37352f;
  margin-top: 50px;
}

.blogPost .subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

/* Headers */
.blogPost h1,
.blogPost h2,
h3,
.blogPost h4,
.blogPost h5,
.blogPost h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blogPost h1 {
  font-size: 22px;
  color: #50a150;
}

.blogPost h2 {
  font-size: 20px;
  color: #62afee;
}

.blogPost h3 {
  font-size: 18px;
  color: #c18401;
}

.blogPost h4 {
  font-size: 16px;
  color: #50a150;
}

.blogPost h5 {
  font-size: 16px;
  color: #62afee;
}

.blogPost h6 {
  font-size: 16px;
  color: #a627a4;
}

/* Paragraphs */
.blogPost p {
  margin-top: 0;
  margin-bottom: 16px;
}

/* Lists */
.blogPost ul,
ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 24px;
}
.blogPost button {
  background-color: #f0f2f4;
  color: #404b59;
  border: 1px solid #f0f2f4;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 1px 2px;
  border-radius: 6px;
  align-items: center;
  height: fit-content;
  min-width: 180px;
  font-size: large;
  font-weight: 500;
  padding: 12px;
}

.blogPost button:hover {
  background-color: #66778c;
  color: #fff;
}

.blogPost button.primary {
  background-color: #e16259;
  color: #fff;
  border: 1px solid rgb(190, 86, 67);
  border-radius: 3px;
  align-items: center;
  height: fit-content;
  min-width: 180px;
  font-size: large;
  font-weight: 500;
  padding: 12px;
}

.blogPost button.primary:hover {
  background-color: #cf534a;
  color: #fff;
}

.blogPost form {
  font-size: 20px;
}

.blogPost input,
textarea {
  font-size: 18px;
  padding: 8px;
  margin: 10px auto;
}

.blogPost input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 10px;
}

.blogPost input[type="radio"] {
  width: 15px;
  height: 15px;
  margin: 10px;
}

blockquote {
  background: #f0f9f8;
  border-style: solid;
  border-width: 2px;
  border-color: #00ffe1;
  border-radius: 10px;
  padding: 10px 10px;
  line-height: 120%;
  color: black;
}

blockquote::before {
  content: "\1F4DD\00A0Note\00A0";
  font-weight: bold;
  font-size: 1.2em;
  color: #000000;
  margin-right: 0.5em;
}

blockquote::first-line {
  display: block;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #37352f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #fff;
  color: #37352f;
}

/* Change the color of links on hover */
.nav a:hover {
  background-size: 1px;
  background-color: rgba(55, 53, 47, 0.08);
  color: #37352f;
}

table {
  border: 1px solid #333;
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll !important;
  overflow: hidden;
}

tr {
  border: 1px solid #333;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #f1f1f1;
}

td {
  border: 1px solid #333;
}

th {
  border: 1px solid #333;
  text-align: center;
  padding: 5px;
}

div.sulav img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}
.blogPost p {
  text-indent: 1.5em;
}

@media (max-width: 576px) {
  div.sulav {
    height: auto;
    width: 100px;
    min-width: 100px;
    max-height: 100px;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-inline: 10px;
    transform: perspective(1000px) translate3d(0px, 0px, -250px) rotateX(27deg)
      scale(0.9, 0.9);
    border-radius: 10px;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
    animation: rotate 20s linear infinite; /* 5s duration, linear timing function, infinite loop */
  }

  @keyframes rotate {
    0% {
      transform: perspective(1000px) translate3d(0px, 0px, -250px)
        rotateX(27deg) rotateY(0deg) scale(0.9, 0.9);
    }
    100% {
      transform: perspective(1000px) translate3d(0px, 0px, -250px)
        rotateX(27deg) rotateY(360deg) scale(0.9, 0.9);
    }
  }

  div.sulav img {
    height: 100%;
    width: 100%;
    object-fit: cover !important;
    border-radius: 10px;
  }
}
