/* .blogPost{
  width: 800px;
} */

.blogPost a {
  color: var(--textLink) !important;
  line-height: 150%;
  padding: 3px;
}

.blogTitleBox {
  color: var(--textTitle) !important;
}

.blogPost a:link {
  color: rgba(0, 0, 0, 0.6);
}

.blogPost a:visited {
  color: rgba(0, 0, 0, 0.6);
}

.blogPost a:hover {
  background-size: auto 4em;
  background-repeat: no-repeat;
  background-position: 0% 15px;
}

.blogPost .title {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #37352f;
  margin-top: 50px;
  color: var(--textTitle) !important;
}

.blogPost .subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

/* Headers */
.blogPost h1,
.blogPost h2,
h3,
.blogPost h4,
.blogPost h5,
.blogPost h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blogPost h2:first-child {
  margin-top: 12px;
}

.blogPost h1 {
  font-size: 34px;
  color: #50a150;
}

.blogPost h2 {
  font-size: 30px;
  color: var(--textTitle) !important;
  margin-top: 70px;
}

.blogPost h3 {
  font-size: 26px;
  color: #62afee;
}

.blogPost h4 {
  font-size: 22px;
  color: #50a150;
}

.blogPost h5 {
  font-size: 18px;
  color: #62afee;
}

.blogPost h6 {
  font-size: 16px;
  color: #a627a4;
}

/* Paragraphs */
.blogPost p {
  font-size: 19px !important;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 30px;
  color: var(--textTitle) !important;
}

/* Lists */
.blogPost ul,
ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 24px;
  font-size: 18px;
  color: var(--black);
}
.blogPost button {
  background-color: #f0f2f4;
  color: #404b59;
  border: 1px solid #f0f2f4;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 1px 2px;
  border-radius: 6px;
  align-items: center;
  height: fit-content;
  min-width: 180px;
  font-size: large;
  font-weight: 500;
  padding: 12px;
}

.blogPost button:hover {
  background-color: #66778c;
  color: #fff;
}

.blogPost button.primary {
  background-color: #e16259;
  color: #fff;
  border: 1px solid rgb(190, 86, 67);
  border-radius: 3px;
  align-items: center;
  height: fit-content;
  min-width: 180px;
  font-size: large;
  font-weight: 500;
  padding: 12px;
}

.blogPost button.primary:hover {
  background-color: #cf534a;
  color: #fff;
}

.blogPost form {
  font-size: 20px;
}

.blogPost input,
textarea {
  font-size: 18px;
  padding: 8px;
  margin: 10px auto;
}

.blogPost input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 10px;
}

.blogPost input[type="radio"] {
  width: 15px;
  height: 15px;
  margin: 10px;
}

blockquote {
  background: var(--white);
  border-style: solid;
  border-width: 2px;
  border-color: #00ffe1;
  border-radius: 10px;
  padding: 10px 10px;
  line-height: 120%;
  color: black;
}

blockquote::before {
  content: "\1F4DD\00A0Note\00A0";
  font-weight: bold;
  font-size: 1.2em;
  color: var(--textTitle);
  margin-right: 0.5em;
}

blockquote::first-line {
  display: block;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #37352f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #fff;
  color: #37352f;
}

/* Change the color of links on hover */
.nav a:hover {
  background-size: 1px;
  background-color: rgba(55, 53, 47, 0.08);
  color: #37352f;
}

.classRandom table {
  border: 1px solid #333;
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll !important;
  overflow: hidden;
}

.classRandom tr {
  border: 1px solid #333;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #f1f1f1;
}

td {
  border: 1px solid #333;
}

th {
  border: 1px solid #333;
  text-align: center;
  padding: 5px;
}

div.sulav img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.tocMainContainer {
  display: none;
}

@media (max-width: 576px) {
  div.sulav img {
    height: 200px;
  }
}

@media (min-width: 576px) {
  .blogPost p {
    font-size: 22px !important;
    line-height: 30px;
  }

  .blogPost ul,
  ol {
    font-size: 22px !important;
    line-height: 30px;
  }
}

@media (min-width: 1260px) {
  .blogCont {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 3fr 1fr;
  }

  .blogTitle {
    font-size: 50px !important;
    text-align: left !important;
  }

  .tocMainContainer {
    display: block;
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 200px;
    z-index: 100; /* Optional z-index to control stacking order */
  }

  .tocContainerBlogs {
    background-color: var(--white);
    border-radius: 16px;
    padding: 30px 5px;
    box-shadow: var(--boxShadow);
    transition: box-shadow 0.3s ease; /* Add a transition for box-shadow */
    color: var(--black);
  }

  .tocContainerBlogs:hover {
    box-shadow: var(--boxShadowTransition);
  }

  .tocContainerBlogs > div > h2 {
    font-weight: bold;
  }

  .tocContentsContainer ul {
    color: var(--black);
    font-weight: bold;
  }

  .tocContentsContainer > ul > li > ul > li {
    list-style: lower-alpha;
  }

  .tocContentsContainer > ul > li {
    list-style: decimal;
    padding-bottom: 12px;
  }

  .tocContentsContainer > ul > li > p {
    margin-bottom: 0px !important;
  }

  .tocContentsContainer a {
    text-decoration: underline;
    color: var(--black);
  }

  .toolsForReading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
    color: var(--black);
  }

  .toolsForReading > div {
    background: var(--white);
    border-radius: 12px;
    aspect-ratio: 1;
  }

  .toolsForReading > div {
    padding: 25px 15px;
    font-size: large;
    box-shadow: var(--boxShadow);
    transition: box-shadow 0.3s ease; /* Add a transition for box-shadow */
  }

  .toolsForReading > div:hover {
    box-shadow: var(--boxShadowTransition); /* Change the box-shadow on hover */
  }

  .toolsForReading p {
    padding-top: 10px;
  }

  .stopwatch,
  .playcircle {
    color: green;
    font-size: 40px;
  }

  .actualtimetofinishthisblog {
    color: green;
    font-weight: bold;
  }

  .blogWord {
    color: green;
  }

  .blogPost h1 {
    font-size: 40px;
  }

  .blogPost h2 {
    font-size: 36px;
    color: #000000;
  }

  .blogPost h3 {
    font-size: 32px;
    color: #62afee;
  }

  .blogPost h4 {
    font-size: 28px;
  }

  .blogPost h5 {
    font-size: 26px;
  }

  .blogPost h6 {
    font-size: 22px;
  }

  /*  .tocContentsContainer > ul > li > ul > li > a{
    text-decoration: none;
  } */
}
