.projectCont {
	border-radius: 25px;
	background: var(--cardBackground);
  }

.height450{
	max-height: 450px;
}



@media (max-width: 520px){
	.height450 {
		min-width: 835px;
		width: 100%;
		transform-origin: top left; /* Set the transformation origin to the top left corner */
  		transform: scale(0.5); /* Scale */
		max-height: 225px;
	}
}
  
  @media (min-width: 991.98px) {
	.projectCont {
	  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}
  
	.projectCont:hover {
	  transform: scale(1.01);
	  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	  background: #fcfdff;
	}

	body.dark{
		.projectCont:hover {
			background: var(--bg);
		}
	}
  }

.projectImage {
  padding-inline-end: 0% !important;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.registerLogo img {
  height: 35px !important;
  width: 35px !important;
  margin-bottom: 8px;
}

.projectSubText {
  color: #5e5e63 !important;
}

.projectCont .bg-reactjs{
	background-color: #00D8FF;
}

.projectCont .bg-javaScript{
	background-color: #decd2e;
}

.projectImage img{
	border-radius: 20px;
}

body.dark{
	.projectImage img{
		filter: invert();
	}
}
