/* This is the css for the blog Page Description .js file.  */

.cardssImage {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  transition: all 2s;
}

.cardssImagePlaceholder {
  border-radius: 10px 10px 0px 0px;
  height: 400px;
  width: 400px;
  background-color: var(--cardBackground);
  opacity: 0.9;
  transition: all 2s;
}

.emojisBlog {
  text-shadow: var(--boxShadowBlogCards);
}

#caraso {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;
  padding-left: 20px;
}

#caraso::-webkit-scrollbar {
  display: none;
}

.cardss {
  width: 400px !important;
  background: var(--white);
  box-shadow: var(--boxShadowBlogCards);
  box-sizing: content-box;
  scroll-snap-align: start;
  transition: all 0.2s;
}

.cardTitle {
  text-decoration: none;
  color: var(--black);
  transition: all ease-in-out 0.4s;
}

.cardss:hover {
  .cardTitle {
    color: var(--link);
  }
}

.blogPage {
  color: var(--textTitle);
}
