@import url(../assets/fonts/basierfont/stylesheet.css);
@import url(../assets/fonts/abused-7413446/stylesheet.css);

#Books,
#Blogs,
#Quotes,
#Photos,
#Trails,
#Languages {
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  border: none;
  text-decoration: none !important;
  color: inherit;
}

#Books {
  transition: transform 0.3s ease;
}

#Blogs {
  transition: transform 0.3s ease;
}

#Quotes {
  transition: transform 0.3s ease;
}

#Photos {
  transition: transform 0.3s ease;
}

#Trails {
  transition: transform 0.3s ease;
}

#Languages {
  transition: transform 0.3s ease;
}

#Languages:hover {
  transform: translateY(-5px);
}

#Trails:hover {
  transform: translateY(-5px);
}

#Photos:hover {
  transform: translateY(-5px);
}
#Quotes:hover {
  transform: translateY(-5px);
}
#Blogs:hover {
  transform: translateY(-5px);
}
#Books:hover {
  transform: translateY(-5px);
}

#pdescription {
  font-size: large;
}

#h1Title {
  font-family: sans-serif;
  font-weight: 600;
}

#h1Icon {
  font-size: 32pt;
}

#links {
  text-decoration: none;
  color: inherit;
}
