@import url(../assets/fonts/basierfont/stylesheet.css);
@import url(../assets/fonts/abused-7413446/stylesheet.css);

#Books,
#Blogs,
#Quotes,
#Photos,
#Trails,
#Languages {
  text-align: center;
  background: #eff9ff;
  box-shadow: 10px 10px 20px rgba(111, 182, 225, 0.57), -10px -10px 20px #ffffff;
  border-radius: 20px;
  border: none;
  text-decoration: none !important;
  color: inherit;
}

#Books {
  transition: transform 0.3s ease;
}

#Blogs {
  transition: transform 0.3s ease;
}

#Quotes {
  transition: transform 0.3s ease;
}

#Photos {
  transition: transform 0.3s ease;
}

#Trails {
  transition: transform 0.3s ease;
}

#Languages {
  transition: transform 0.3s ease;
}

#Languages:hover {
  transform: scale(0.99);
}

#Trails:hover {
  transform: scale(0.99);
}

#Photos:hover {
  transform: scale(0.99);
}
#Quotes:hover {
  transform: scale(0.99);
}
#Blogs:hover {
  transform: scale(0.99);
}
#Books:hover {
  transform: scale(0.99);
}

#pdescription {
  font-size: large;
}

#h2Title {
  font-size: 40px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#h2Icon {
  font-size: 32pt;
}

#links {
  text-decoration: none;
  color: inherit;
}
