@import url(../assets/fonts/basierfont/stylesheet.css);
@import url(../assets/fonts/abused-7413446/stylesheet.css);

#Books,
#Blogs,
#Quotes,
#Photos,
#Trails,
#Languages,
#Activity {
  text-align: center;
  background: #eff9ff;
  background: var(--cardBackground);

  /*box-shadow: 10px 10px 20px rgba(111, 182, 225, 0.57), -10px -10px 20px #ffffff;*/
  border: var(--textTitle) 2px solid;
  border-radius: 20px;
  text-decoration: none !important;
  color: var(--textTitle);
  overflow: hidden;
}

#Books {
  transition: transform 0.3s ease;
}

#Blogs {
  transition: transform 0.3s ease;
}

#Quotes {
  transition: transform 0.3s ease;
}

#Photos {
  transition: transform 0.3s ease;
}

#Trails {
  transition: transform 0.3s ease;
}

#Languages {
  transition: transform 0.3s ease;
}

#Languages:hover,
#Trails:hover,
#Photos:hover,
#Quotes:hover,
#Blogs:hover,
#Books:hover {
  transform: scale(1.02);

  #h2Icon {
    text-shadow: rgba(255, 0, 234, 0.6) 0px 0px 0px,
      rgba(77, 255, 0, 0.9) 120px 24px 20px, rgb(255, 191, 0) -110px 4px 20px,
      rgba(0, 26, 255, 0.64) 170px 150px 60px,
      rgba(242, 0, 255, 0.64) -160px 120px 60px,
      rgba(208, 0, 255, 0.666) 10px 4px 30px;
  }
}

#pdescription {
  font-size: large;
}

#h2Title {
  font-size: 40px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#h2Icon {
  font-size: 32pt;
  text-shadow: rgba(255, 0, 234, 0.6) 0px 0px 0px,
    rgba(157, 0, 255, 0.65) 120px 24px 20px, rgb(255, 191, 0) -120px 4px 20px,
    rgba(0, 26, 255, 0.64) 180px 150px 20px,
    rgba(242, 0, 255, 0.64) -120px 120px 20px,
    rgba(208, 0, 255, 0.666) 0px 4px 30px;
  transition: all 3s ease-out;
}

#links {
  text-decoration: none;
  color: inherit;
}
