.link h3{
	color: #2a646f;
}

.genera{
	background-color: #1fb605 ;
	border-radius: 5px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
	font-weight: bold;
}

.type{
	opacity: 75%;
}


