.link h3 {
  color: var(--textLink);
}

.genera {
  background-color: #1fb605;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  font-weight: bold;
}

.latestPostMainHeading {
  color: var(--textTitle);
}

.type {
  opacity: 75%;
  display: inline;
  padding-inline: 10px;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border: 1px solid var(--textForSubBox);
  color: var(--textForSubBox) !important;
  font-weight: 600;
  /* background: radial-gradient(circle, rgba(145,43,213,1) 22%, rgba(255,0,0,1) 45%, rgba(255,149,0,1) 83%, rgba(144,251,0,1) 100%);
  background-clip: text; 
  color: transparent;*/
}

.postsOfLatestPost {
  color: var(--textTitle);
}

body.dark {
  .type {
    background-color: black;
    color: white;
  }
}
