@import url(../assets/fonts/basierfont/stylesheet);
@import url(../assets/fonts/abused-7413446/stylesheet.css);

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10px;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav {
  margin: 10px !important;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.05),
    0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset,
    0px -1px 1px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(4px);
}

.navCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  padding-inline: 6px;
  height: 50px;
}

.navCont {
  padding-inline-start: 30px;
}

#logoName {
  font-family: "Abused";
  font-size: 18pt;
}

.navButton {
  text-decoration: none;
  font-weight: bold;
  color: var(--textTitle);
  padding: 10px;
  padding-inline: 30px;
  border-radius: 100px;
}

.navButton:hover {
  background: var(--textTitle);
  text-decoration: none;
  color: var(--bg);
}

.active {
  background: var(--black);
  text-decoration: none;
  color: var(--white);
}

body.dark {
  .logo-image{
    filter: invert();
  }

}

